

/* //////////////// Home page styling //////////////////////// */

.home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    height: 150px;
    background-color: black;
    color: white;
    margin-top: 50px;
    padding: 10px;
    border-radius: 5px;
}

.title-part-one {
    font-size: 7em;
    text-transform: uppercase;
}

.title-part-two-container {
    font-size: 1.3em;
}

.title-part-two-top {
    margin-top: 65px;

}

.title-part-two-bottom {
    margin-top: -30px;
}

.home-page-info {
    padding: 40px;
    padding-top: 20px;
}

.home-page-info-content {
    text-indent: 25px;
    font-size: 1.1em;
    line-height: 30px;
    padding: 10px
}

.home-page-info-title {
    text-align: center;
    font-size: 1.6em;
}

.home-page-button {
    background-color: #a22c29 ;
    text-decoration: none;
    color: white;
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 60px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    transform: scale(1);
    transition: transform, color, 400ms;
}

.home-page-button:hover {
    transform: scale(1.1);
}


@media screen and (min-width: 1000px) {

    .home-page-info-title {
        font-size: 2em;
    }

    .home-page-info-content {
        font-size: 1.6em;
        line-height: 38px;
        max-width: 1000px;
    }
}


