/* ////////// General Styling ///////////// */

img {
    max-width: 100%;
}

body {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    background-color: white;
}


/* /////////////////////// Dark mode ////////////////////////// */



.toggle-switch {
  position: absolute;
  width: 75px;
  top: 8px;
  right: 70px;
}

.toggle-label {
  position: absolute;
  width: 100%;
  height: 35px;
  background-color: #28292c;
  border-radius: 50px;
  cursor: pointer;
}

.toggle-input {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
  margin-left: -38px
}

.toggle-input:checked ~ .slider {
  background-color: #d8dbe0;
}

.slider::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 8px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: inset 14px -2px 0px 0px #d8dbe0;
  background-color: #28292c;
  transition: 0.3s;
}

.toggle-input:checked ~ .slider::before {
  transform: translateX(37px);
  background-color: #28292c;
  box-shadow: none;
}




/* /////////////////// Food Info container styling ///////////////// */

.comp-page-container {
    padding-top: 80px;
}

.brandName {
  font-size: 2.6em;
  text-decoration: underline;
  margin-bottom: 0px;
}

.formulaName {
  margin-top: 10px;
  font-weight: 400;
}

.label-one-container {
    /* Layout */
    margin: 0.5em;
    padding: 0.5em;
    /* Typography */
    font-family: sans-serif;
    /* Graphics */
    border: 0.25em solid black;
    margin-bottom: 80px;
    margin-top: 30px;
    min-width: 450px;
    min-height: 760px;

  }

.label-two-container {
    /* Layout */
    margin: 0.5em;
    padding: 0.5em;
    /* Typography */
    font-family: sans-serif;
    /* Graphics */
    border: 0.25em solid black;
    margin-bottom: 80px;
    margin-top: 30px;
    min-width: 450px;
    min-height: 760px;
}

  .amount-per-serving .attribute {
    /* Layout */
    display: none;
  }
  
  .percent-daily-value .attribute {
    /* Layout */
    display: none;
  }
  
  .servings {
    /* Layout */
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  
  .servings-per-container .attribute {
    text-transform: lowercase;
  }
  
  .serving-size {
    /* Layout */
    padding-top: 0;
  }
  
  .servings-heading {
    /* Layout */
    display: none;
  }
  
  .daily-values-heading {
    /* Layout */
    display: none;
  }
  
  .nutrients-declaration-requirement-heading {
    /* Layout */
    display: none;
  }
  
  .nutrients-declaration-requirement li {
    /* Layout */
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    /* Graphics */
    border-top: 0.125em solid black;
  }
  .nutrients-declaration-requirement li:first-of-type {
    border-top: 0;
  }
  
  .daily-values,
  .nutrients-declaration-requirement {
    /* Graphics */
    border-top: 1em solid black;
    margin-top: 5px;
    padding-top: 5px;
  }
  .daily-values ul,
  .nutrients-declaration-requirement ul {
    /* Layout */
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .daily-values li,
  .nutrients-declaration-requirement li {
    /* Layout */
    display: flex;
  }
  .daily-values li .heading,
  .nutrients-declaration-requirement li .heading {
    /* Layout */
    display: flex;
    white-space: nowrap;
  }
  .daily-values .percent-daily-value,
  .nutrients-declaration-requirement .percent-daily-value {
    /* Layout */
    text-align: right;
  }
  .daily-values .amount-per-serving,
  .nutrients-declaration-requirement .amount-per-serving {
    /* Layout */
    flex: 1 100%;
    margin: 0 0.5em;
  }
  .daily-values .total-fat,
  .nutrients-declaration-requirement .total-fat {
    /* Layout */
    display: block;
  }
  .daily-values .total-fat---cr,
  .nutrients-declaration-requirement .total-fat---cr {
    /* Layout */
    display: flex;
  }
  .daily-values .total-carbohydrate,
  .nutrients-declaration-requirement .total-carbohydrate {
    /* Layout */
    display: block;
  }
  .daily-values .total-carbohydrate---cr,
  .nutrients-declaration-requirement .total-carbohydrate---cr {
    /* Layout */
    display: flex;
  }
  .daily-values .total-sugars,
  .nutrients-declaration-requirement .total-sugars {
    /* Layout */
    display: block;
    padding-bottom: 0;
  }
  .daily-values .total-sugars---cr,
  .nutrients-declaration-requirement .total-sugars---cr {
    /* Layout */
    display: flex;
  }
  
  .saturated-fat {
    /* Layout */
    padding-left: 1em;
  }
  
  .trans-fat {
    /* Layout */
    padding-left: 1em;
  }
  
  .dietary-fiber {
    /* Layout */
    padding-left: 1em;
  }
  
  .total-sugars---cr {
    /* Layout */
    padding-left: 1em;
  }
  
  .added-sugars-note {
    /* Layout */
    padding-left: 2em;
    padding-top: 0.125rem;
    /* Graphics */
    border-top: 0.125em solid black;
  }
  
  .serving-size {
    /* Layout */
    display: flex;
  }
  .serving-size .attribute {
    /* Layout */
    white-space: nowrap;
    /* Typography */
    font-weight: bold;
  }
  .serving-size .value {
    /* Layout */
    flex: 1 100%;
    text-align: right;
    /* Typography */
    font-weight: bold;
  }
  .serving-size .or-preposition {
    /* Layout */
    display: none;
  }
 
  .serving-size .gram-unit:before {
    content: "(";
  }
  .serving-size .gram-unit:after {
    content: ")";
  }
  
  .servings-per-container {
    /* Layout */
    display: flex;
  }
  .servings-per-container .value {
    /* Layout */
    margin-right: 0.25em;
  }
  .servings-per-container .attribute {
    /* Layout */
    order: 1;
  }
  
  .percent-daily-value-note {
    /* Layout */
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    text-align: right;
    /* Typography */
    font-weight: bold;
    /* Graphics */
    border-bottom: 0.125em solid black;
  }
  
  .calories {
    /* Layout */
    display: grid;
    grid-template: "a1 b1" "a2 b2";
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    /* Graphics */
    border-bottom: 0.5em solid black;
  }
  .calories .heading {
    /* Layout */
    grid-area: a2;
    align-self: end;
    /* Typography */
    font-size: 2em;
    font-weight: bold;
  }
  .calories .amount-per-serving {
    /* Layout */
    display: contents;
    margin: 0;
  }
  .calories .amount-per-serving .attribute {
    /* Layout */
    display: block;
    grid-area: a1;
    /* Typography */
    font-weight: bold;
  }
  .calories .amount-per-serving .value {
    /* Layout */
    grid-area: b2;
    grid-row: b1/-1;
    justify-self: right;
    align-self: end;
    /* Typography */
    font-size: 2.5em;
    font-weight: bold;
  }
  

