

/* ///////////////////// Search Form Page Styling //////////////////////////// */

.search-form {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 750px;
    align-items: center;

}

.compare-btn {
    margin-bottom: 30px;
    height: 50px;
    width: 200px;
    font-size: 20px;
}

.submit-btn {
    background-color: #a22c29 ;
    border: none;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: pointer;
    transform: scale(1);
    transition: color, transform, 400ms;
    margin-bottom: 60px;
    margin-top: 40px;
   
}

.submit-btn:hover {
    transform: scale(1.1);
}


.selection-container {
    display: flex;
    flex-direction: column; 

}

.form-sub-label {
    margin-bottom: 20px;
}

.form-label {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}

.search-form-sub-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.form-input {
    width: 400px;
    text-align: center;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #edf2f4;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.1em;
    cursor: pointer;
    color: black;
    box-shadow: -5px 5px 2px #a22c29;
    overflow: scroll;
}

.search-form-selection-section-container {
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: space-between;
}

@media screen and (min-width: 1250px) {

    .form-page-container {
        padding-bottom: 30px;
    }

    .search-form-selection-section-container {
        flex-direction: row;
        align-items: center;
    
    }

    .search-form-sub-container {
        margin-left: 60px;
        margin-right: 60px;
        margin-bottom: -60px;
    }

    .form-input {
        font-size: 1.4em;
        height: 80px;
        width: 500px;
    }

    .form-label {
        font-size: 3em;
    }

    .form-sub-label {
        font-size: 1.1em;
    }

    .search-form {
        padding-top: 10px;
    }

    .compare-btn {
        height: 70px;
        width: 240px;
        font-size: 1.7em;
    }
}