/* ////////// General Styling ///////////// */

img {
    max-width: 100%;
}

body {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    background-color: whitesmoke;
}

/* ///////////////// Nav Styl/ing //////////////////// */

.nav-container {
    background-color: #14213d;
    margin: 0px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    text-align: center;
}

.nav-item {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-left: 15px;
    margin-right: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: pointer;
    transform: scale(1);
    transition: transform, text-decoration, 400ms;
}

.nav-item:hover {
    text-decoration: underline;
    transform: scale(1.05);
}


/* ////////////////// Footer styling //////////////////////////// */

.footer-container {
    background-color: #14213d;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: whitesmoke;
}

.footer-content-top {
    margin-bottom: 0px;
    margin-top: 45px;
}

.footer-content-bottom {
    margin-top: 0px;
}

/* //////////////// Home page styling //////////////////////// */

.home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.home-page-img {
    width: 300px;
}

.home-page-title {
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 30px;
    color: #14213d;
    text-shadow: 2px 2px white;
}

.title-container {
    background-color: #e5e5e5;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.call-to-action-container {
    background-color: black;
    width: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: -40px;
}

.home-page-button {
    background-color: #fca311 ;
    text-decoration: none;
    color: white;
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    transform: scale(1);
    transition: transform, color, 400ms;
}

.home-page-button:hover {
    transform: scale(1.1);
    color: black;
}

.subtitle-container {
    text-align: center;
}

.home-page-subtitle {
    font-size: 24px;
    text-decoration: underline;
}

.home-page-info {
    padding: 18px;
    line-height: 28px;
    font-size: 17px;
    text-indent: 20px;
}

/* ///////////////////// Search Form Page Styling //////////////////////////// */

.search-form {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 650px;
    align-items: center;
}

.compare-btn {
  margin-bottom: 30px;
    height: 50px;
    width: 200px;
    font-size: 20px;
}

.submit-btn {
    background-color: #fca311 ;
    border: none;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: pointer;
    transform: scale(1);
    transition: color, transform, 400ms;
}

.submit-btn:hover {
    transform: scale(1.1);
    color: black;
}


.selection-container {
    display: flex;
    flex-direction: column; 

}

.form-sub-label {
    margin-bottom: 20px;
}

.form-label {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}

.search-form-sub-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.form-input {
    width: 400px;
    text-align: center;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #14213d;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

/* ////////////////// Catalog Page styling //////////////////////// */

.catalog-form {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 1.4em;
}

.catalog-form-container {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog-select {
  font-size: .9em;
  font-family: 'Noto Sans', sans-serif;
}

.catalog-form-selection-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}



.catalog-btn {
  width: 100px;
  height: 35px;
}


/* /////////////////// Food Info container styling ///////////////// */

.comp-page-container {
    padding-top: 50px;
}

.brandName {
  font-size: 2.6em;
  text-decoration: underline;
  margin-bottom: 0px;
}

.formulaName {
  margin-top: 10px;
  font-weight: 400;
}

.label-one-container {
    /* Layout */
    margin: 0.5em;
    padding: 0.5em;
    /* Typography */
    font-family: sans-serif;
    /* Graphics */
    border: 0.25em solid black;
  }

.label-two-container {
    /* Layout */
    margin: 0.5em;
    padding: 0.5em;
    /* Typography */
    font-family: sans-serif;
    /* Graphics */
    border: 0.25em solid black;
}

  .amount-per-serving .attribute {
    /* Layout */
    display: none;
  }
  
  .percent-daily-value .attribute {
    /* Layout */
    display: none;
  }
  
  .servings {
    /* Layout */
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  
  .servings-per-container .attribute {
    text-transform: lowercase;
  }
  
  .serving-size {
    /* Layout */
    padding-top: 0;
  }
  
  .servings-heading {
    /* Layout */
    display: none;
  }
  
  .daily-values-heading {
    /* Layout */
    display: none;
  }
  
  .nutrients-declaration-requirement-heading {
    /* Layout */
    display: none;
  }
  
  .nutrients-declaration-requirement li {
    /* Layout */
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    /* Graphics */
    border-top: 0.125em solid black;
  }
  .nutrients-declaration-requirement li:first-of-type {
    border-top: 0;
  }
  
  .daily-values,
  .nutrients-declaration-requirement {
    /* Graphics */
    border-top: 1em solid black;
    margin-top: 5px;
    padding-top: 5px;
  }
  .daily-values ul,
  .nutrients-declaration-requirement ul {
    /* Layout */
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .daily-values li,
  .nutrients-declaration-requirement li {
    /* Layout */
    display: flex;
  }
  .daily-values li .heading,
  .nutrients-declaration-requirement li .heading {
    /* Layout */
    display: flex;
    white-space: nowrap;
  }
  .daily-values .percent-daily-value,
  .nutrients-declaration-requirement .percent-daily-value {
    /* Layout */
    text-align: right;
  }
  .daily-values .amount-per-serving,
  .nutrients-declaration-requirement .amount-per-serving {
    /* Layout */
    flex: 1 100%;
    margin: 0 0.5em;
  }
  .daily-values .total-fat,
  .nutrients-declaration-requirement .total-fat {
    /* Layout */
    display: block;
  }
  .daily-values .total-fat---cr,
  .nutrients-declaration-requirement .total-fat---cr {
    /* Layout */
    display: flex;
  }
  .daily-values .total-carbohydrate,
  .nutrients-declaration-requirement .total-carbohydrate {
    /* Layout */
    display: block;
  }
  .daily-values .total-carbohydrate---cr,
  .nutrients-declaration-requirement .total-carbohydrate---cr {
    /* Layout */
    display: flex;
  }
  .daily-values .total-sugars,
  .nutrients-declaration-requirement .total-sugars {
    /* Layout */
    display: block;
    padding-bottom: 0;
  }
  .daily-values .total-sugars---cr,
  .nutrients-declaration-requirement .total-sugars---cr {
    /* Layout */
    display: flex;
  }
  
  .saturated-fat {
    /* Layout */
    padding-left: 1em;
  }
  
  .trans-fat {
    /* Layout */
    padding-left: 1em;
  }
  
  .dietary-fiber {
    /* Layout */
    padding-left: 1em;
  }
  
  .total-sugars---cr {
    /* Layout */
    padding-left: 1em;
  }
  
  .added-sugars-note {
    /* Layout */
    padding-left: 2em;
    padding-top: 0.125rem;
    /* Graphics */
    border-top: 0.125em solid black;
  }
  
  .serving-size {
    /* Layout */
    display: flex;
  }
  .serving-size .attribute {
    /* Layout */
    white-space: nowrap;
    /* Typography */
    font-weight: bold;
  }
  .serving-size .value {
    /* Layout */
    flex: 1 100%;
    text-align: right;
    /* Typography */
    font-weight: bold;
  }
  .serving-size .or-preposition {
    /* Layout */
    display: none;
  }
 
  .serving-size .gram-unit:before {
    content: "(";
  }
  .serving-size .gram-unit:after {
    content: ")";
  }
  
  .servings-per-container {
    /* Layout */
    display: flex;
  }
  .servings-per-container .value {
    /* Layout */
    margin-right: 0.25em;
  }
  .servings-per-container .attribute {
    /* Layout */
    order: 1;
  }
  
  .percent-daily-value-note {
    /* Layout */
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    text-align: right;
    /* Typography */
    font-weight: bold;
    /* Graphics */
    border-bottom: 0.125em solid black;
  }
  
  .calories {
    /* Layout */
    display: grid;
    grid-template: "a1 b1" "a2 b2";
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    /* Graphics */
    border-bottom: 0.5em solid black;
  }
  .calories .heading {
    /* Layout */
    grid-area: a2;
    align-self: end;
    /* Typography */
    font-size: 2em;
    font-weight: bold;
  }
  .calories .amount-per-serving {
    /* Layout */
    display: contents;
    margin: 0;
  }
  .calories .amount-per-serving .attribute {
    /* Layout */
    display: block;
    grid-area: a1;
    /* Typography */
    font-weight: bold;
  }
  .calories .amount-per-serving .value {
    /* Layout */
    grid-area: b2;
    grid-row: b1/-1;
    justify-self: right;
    align-self: end;
    /* Typography */
    font-size: 2.5em;
    font-weight: bold;
  }
  

/* ///////////////////////// Catalog page styling ////////////////////////////// */

.catalog-container {
  padding-top: 60px;
}